{% extends 'listagem.html' %}

{% block titulo %}Filtros{% endblock titulo %}
{% block tituloListagem %}Filtros{% endblock tituloListagem %}

{% block btnFormulario %}<a href="/filtro/registro/" class='btn btn-primary' style="float: right;">Registrar</a>{% endblock btnFormulario %}

{% block tabelaCabecalho %}
    <tr>
        <th>Descricao</th>
        <th>Nome</th>
        <th>Status</th>
        <th>Prioridade</th>
        <th>Opções</th>
    </tr>     
{% endblock tabelaCabecalho %}

{% block tabelaCorpo %}        

    {% for filter in filters  %}
        <tr>
            <td>{{ filter.description }}</td>
            <td>{{ filter.file }}</td>
            <td>{{ filter.getStrStatus }}</td>
            <td>{{ filter.priority }}</td>
            <td>
                <a href='/filtro/editar/{{ filter.id }}' class='btn-sm btn-primary' alt="Editar" title="clique para editar"><i class='glyphicon glyphicon-pencil'></i></a>
                {%if filter.status %}
                    <a href='/filtro/inativar/{{ filter.id }}' class='btn-sm btn-success' alt="Ativo" title="clique para inativar"><i class='glyphicon glyphicon-thumbs-up'></i></a>
                {%else%}
                    <a href='/filtro/ativar/{{ filter.id }}' class='btn-sm' alt="Inativo" title="clique para ativar" style="background-color:#c4c4c4;color:#fff"><i class='glyphicon glyphicon-thumbs-down'></i></a>
                {%endif%}
                <a href='/filtro/deletar/{{ filter.id }}' class='btn-sm btn-danger' alt="Deletar" title="clique para deletar"><i class='glyphicon glyphicon-trash'></i></a>
            </td>
        </tr>
    {% endfor %} 
   
{% endblock tabelaCorpo %}

