{% extends 'listagem.html' %}

{% block titulo %}Assinaturas{% endblock titulo %}
{% block tituloListagem %}Assinaturas{% endblock tituloListagem %}

{% block tabelaCabecalho %}
    <tr>
        <th>Descricao</th>
        <th>Perfil</th>
        <th>Assinatura</th>
        <th align="center">Opções</th>
    </tr>     
{% endblock tabelaCabecalho %}

{% block tabelaCorpo %}        

    {% for assinatura in assinaturas  %}
        <tr>
            <td>{{ assinatura.descricao }}</td>
            <td>{{ assinatura.perfil }}</td>
            <td>{{ assinatura.assinatura }}</td>
            <td>
                <a href="{% url 'accounts:trocar_senha_usuario'  assinatura.id %}" title="Editar Usuário">
                    <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                </a>&nbsp;                 
                <a href="{% url 'accounts:deletar_usuario'  assinatura.id %}" title="Deletar">
                    <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {% endfor %} 
   
{% endblock tabelaCorpo %}

