{% extends 'listagem.html' %}

{% block titulo %}Aparelhos{% endblock titulo %}
{% block tituloListagem %}Aparelhos{% endblock tituloListagem %}

{% block tabelaCabecalho %}
    <tr>
        <th>Access Point</th>
        <th>Mac</th>
        <th>Fabricante</th>
        <th>Padrão</th>
        <th>Canal</th>
        <th>Frequencia</th>
        <th>Sinal</th>
        <th>Status</th>
        <th>Ultima Atualização</th>
    </tr>     
{% endblock tabelaCabecalho %}

{% block tabelaCorpo %}        

    {% for device in devices  %}
        <tr>
            <td>{{ device.id_access_point }}</td>
            <td>{{ device.mac }}</td>
            <td>{{ device.vendor }}</td>
            <td>{{ device.getStrStandard }}</td>
            <td>{{ device.channel }}</td>
            <td>{{ device.frequency }}</td>
            <td>{{ device.signal }}</td>
            <td>{{ device.getStrStatus }}</td>
            <td>{{ device.last_update }}</td>
        </tr>
    {% endfor %} 
   
{% endblock tabelaCorpo %}

