{% extends 'listagem.html' %}

{% block titulo %}Relatorios{% endblock titulo %}
{% block tituloListagem %}Relatorios{% endblock tituloListagem %}

{% block tabelaCabecalho %}
    <tr>
        <th>Data/Hora</th>
        <th>Descricao</th>
    </tr>     
{% endblock tabelaCabecalho %}

{% block tabelaCorpo %}        

    {% for log in logs  %}
        <tr>
            <td>{{ log.datetime }}</td>
            <td>{{ log.description }}</td>
        </tr>
    {% endfor %} 
   
{% endblock tabelaCorpo %}

