<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SISTEMA</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Page 1</a>
            </li>
            <li>
                <a href="#">Page 2</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/admin">
                    <span class="glyphicon glyphicon-cog"></span> Admin
                </a>
            </li>
            <li>
                <a href="/admin/logout">
                    <span class="glyphicon glyphicon-log-out"></span> Logout
                </a>
            </li>
        </ul>
    </div>
</nav>