<!doctype html>
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sistema de Detecção de Anomalias no Tráfego de Rede Sem-fio" />
    <title>{% block titulo %} Sistema de Detecção de Anomalias no Tráfego de Rede Sem-fio {% endblock titulo %}</title>
    <!--link rel="icon" href="{% static 'icons/favicon.ico' %}" /-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css_template.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <!--script type="text/javascript" src="{% static "fusioncharts/fusioncharts.js" %}"></script-->
    <!--script type="text/javascript" src="{% static "fusioncharts/themes/fusioncharts.theme.fint.js" %}"></script-->
</head>

<body>
    
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% include "menu.html" %}
    <div class="content container" id="conteudo_template">
        {% bootstrap_messages %}
        <div class="page-header">
            <h1><a href="/">Django</a></h1>
        </div>
        <div class="row">
            <div class="col-md-8">
            {% block content %}{% endblock %}
            </div>
        </div>
    
        <h1>Example Form</h1>
        <div style="width:30%">
            <form action="">
                {%csrf_token%}
                {% for error in form.non_field_errors %}
                <div class="form-group has-errors text-danger small">
                    {{error}}
                </div>
                {% endfor %}
                {% for field in form %}
                <div class="form-group has-errors text-danger small">
                    {{field.errors}}
                </div>
                <div class="form-group has-errors text-danger small">
                </div>
                <div class="form-group">
                    {{field}}
                </div>
                {% endfor %}
                <button class="btn btn-primary" style="width:100%">Login</button>
            </form>
        </div>

        <h1>Example 2 Form</h1>
        <form action="/url/to/submit/" method="post" class="form">
            {% csrf_token %}
             bootstrap_form form 
            {% buttons %}
              <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Submit
              </button>
            {% endbuttons %}
        </form>
    
    
    </div>


</body>

