{% extends 'listagem.html' %}
{% load static %}

{% block titulo %} Usuários {% endblock titulo %}
{% block titulo_listagem %} Usuários {% endblock titulo_listagem %}


{% block tabelaCabecalho %}
    <tr>
        <th>Nome</th>
        <th>Login</th>
        <th>E-mail</th>
        <th>Data Cadastro</th>
        <th>Data Ultimo Acesso</th>
        <th align="center">Opções</th>
    </tr>     
{% endblock tabelaCabecalho %}

{% block tabelaCorpo %}
    {% for user in users  %}
        <tr>
            <td>{{ user }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.data_joined | date:'d/m/Y H:i'}} </td>
            <td>{{ user.last_login | date:'d/m/Y H:i'}} </td>
            <td>
                <a href=" url 'usuarios:trocar_senha_usuario'  user.id " title="Editar Usuário">
                    <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                </a>&nbsp;                 
                <a href=" url 'usuarios:deletar_usuario'  user.id " title="Deletar">
                    <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {% endfor %} 
{% endblock tabelaCorpo %}


{% block jsAdicional %}
    <script src="{% static 'dataTables/jquery-1.12.4.js' %}"></script>
    <script src="{% static 'dataTables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dataTables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'dataTables/buttons.flash.min.js' %}"></script>
    <script src="{% static 'dataTables/jszip.min.js' %}"></script>
    <script src="{% static 'dataTables/pdfmake.min.js' %}"></script>
    <script src="{% static 'dataTables/vfs_fonts.js' %}"></script>
    <script src="{% static 'dataTables/buttons.html5.min.js' %}"></script>
    <script src="{% static 'dataTables/buttons.print.min.js' %}"></script>
    <script src="{% static 'dataTables/buttons.colVis.min.js' %}"></script>
{% endblock jsAdicional %}


{% block cssAdicional %}
    <link rel="stylesheet" type="text/css" href="{% static 'dataTables/jquery.dataTables.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'dataTables/buttons.dataTables.min.css'%}"/>
{% endblock cssAdicional %}